In [1]:
print("Ansh Dhairya")

Ansh Dhairya

Important Note:-

In [2]:
#del print # delete the variable

In [3]:
print("Ansh Dhairya")

Ansh Dhairya

In [4]:
'Ansh Dhairya'

'Ansh Dhairya'

In [5]:
name = 'Ansh'
x = 10
y = 3
z = 3.14

In [6]:
del name

## Operators

- Arithmatic operators
- Assignment operators
- Comparision operators
- Logical operators
- Identity operatos
- Membership operators
- Bitwise operators

#Arithmatic Operators

In [7]:
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x // y)
print(x % y)

13
7
30
3.3333333333333335
3
1

Assignment Operators

In [8]:
a = x + y
a += 1 #a = a+1
a -= 1 #a = a-1
a *= 2 #a = a*2
a /= 5 #a = a/3
print(a)

5.2

In [9]:
print("Ansh Dhairya")

Ansh Dhairya

In [10]:
print("Hello Ansh Dhairya")

Hello Ansh Dhairya

In [11]:
a = 10
b= 12
print("sum of the number",a+b)

sum of the number 22

Comparision Operators

In [12]:
#Comparision operators
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)
print(x == y)
print(x !=y)

True
False
True
False
False
True

Logical Operators

In [13]:
# and 
#or ,not
x>y and y<10

True

In [14]:
# or 
x>y or y<10

True

In [15]:
# not
not x> y

False

Membership Operators Important

In [16]:
# Important--
#In Membership operators---
fruits = ['Apple','Banana','Cherry']
print('Apple' in fruits)
print('Apple' in fruits)
print('Pomogranade' in fruits)
print('apple' in fruits)

True
True
False
False

In [17]:
f =['Apple','Banana','Cherry']

In [18]:
fruits == f #value equality

True

In [19]:
x = 10
y = 10
# dont check is operator with integer
print(x == y)
print(x is y)

True
True

I/O

In [20]:
name = input("enter your name:")

In [21]:
city = input("enter ur city:")
age = input("enter ur age:")
print(name ,city, age)

Ansh Lucknow 18

In [22]:
x = 10
print(type(x))
# convert x to float
x = float(x)#convert x to float and assign it to x
print(x,type(x))
# convert x to string
x = str(x)
print(x, type(x))
# covert to boolean
x = bool(x)
print(x,type(x))
x = str(x)
print(x,type(x))
# x = int(x)# ye nahi hoga
print(x,type(x))

<class 'int'>
10.0 <class 'float'>
10.0 <class 'str'>
True <class 'bool'>
True <class 'str'>
True <class 'str'>

In [23]:
x = int(input('enter a number for A:'))
y = int(input('enter a number for B:'))
print(x + y)

46

In [24]:
print('Name:',name)
print('Age:',age)
print('City:',city)

Name: Ansh
Age: 18
City: Lucknow

In [25]:
print(name, age, city, sep='ðŸ˜Š')

AnshðŸ˜Š18ðŸ˜ŠLucknow

In [26]:
print(x)
print(y)

12
34

In [27]:
print(x,end=' ')
print(y)

12 34

In [28]:
'I live in {city}'

'I live in {city}'

In [29]:
f'I live in {city}'

'I live in Lucknow'

In [30]:
f'I live in city'

'I live in city'

In [31]:
print(f'I live in {city}')

I live in Lucknow

In [32]:
print(f'I live in city')

I live in city

In [33]:
print(f'x={x},y={y}')
print(f'x ** y = {x**y}')

x=12,y=34
x ** y = 4922235242952026704037113243122008064

In [34]:
print(f'{name}. {len(name)}')
print(f'{city}. {len(city)}')

Ansh. 4
Lucknow. 7

In [35]:
print(f'{name:15}{len(name)}')
print(f'{name:10}{len(name)}')

Ansh           4
Ansh      4

In [37]:
print("Enter the first number")
num1 = input()
print("Enter the second number")
num2 = input()
print("Sum of the number",int(num1)+int(num2))

Enter the first number
Enter the second number
Sum of the number 24

Arithmatic Operators question

In [ ]:
# 1
x = 50
y = 50
print(x+y)
#2 :-
x = 100
y = 50
print(x-y)
#3:-
ansh = 60
dhairya = 10
print(ansh*dhairya) 
# 4 
age1 = 20
age2 = 12
print(age1/age2)
print(age2/age1)
#5 
m = 12
n = 10
print(m**n)
#6
k = 200
l = 100
print(k//l)
#7
golu = 120
molu = 12
print(molu%golu)

100
50
600
1.6666666666666667
0.6
61917364224
2
12

Identity Operators

In [ ]:
x = True
y = True
print(x is y)

True

In [ ]:
s = True
j = False
print(s is j)

False

In [ ]:
m = False
k = True
print(m is k)

False

In [ ]:
k = False
l = False
print(k is l)

True