- Dictionary :---

In [1]:

raju = [56,23,45,70,12]

raju_dict = {
    'Hindi':56,
    'English':23,
    'Physics':45,
    'Chemistry':70,
    'Maths':12
}
print(raju_dict)

{'Hindi': 56, 'English': 23, 'Physics': 45, 'Chemistry': 70, 'Maths': 12}

In [1]:
company = {
    'emp001':
    {
        'name':"John",
        'destination':"Lko",
        'salary':"30000"
    },
    'emp002':
    {
    'name':"Daivik",
    'destination':"Mumbai",
    'salary':"23000"
},
'toatl_emp': 2,
'department':'Accounts',
'vacany':['clerk','manager','assistant I']
}

In [3]:
company['name'] = 'Acme inc' # adding a key and value to dict
print(company)

{'emp001': {'name': 'John', 'destination': 'Lko', 'salary': '30000'}, 'emp002': {'name': 'Daivik', 'destination': 'Mumbai', 'salary': '23000'}, 'toatl_emp': 2, 'department': 'Accounts', 'vacany': ['clerk', 'manager', 'assistant I'], 'name': 'Acme inc'}

In [5]:
company['total_emp'] = 3
company['emp003'] = {
    'name' : 'Ajay verma',
    'designation': 'clerk',
    'salary': 45000
}

In [6]:
# company['emp001']
company.get('website')

In [7]:
if 'name' in company:
    print('name exists in dict')

In [7]:
print(company.keys()) # find the key
print(company.values()) # find the value

dict_keys(['emp001', 'emp002', 'toatl_emp', 'department', 'vacany', 'name', 'total_emp', 'emp003'])
dict_values([{'name': 'John', 'destination': 'Lko', 'salary': '30000'}, {'name': 'Daivik', 'destination': 'Mumbai', 'salary': '23000'}, 2, 'Accounts', ['clerk', 'manager', 'assistant I'], 'Acme inc', 3, {'name': 'Ajay verma', 'designation': 'clerk', 'salary': 45000}])

In [8]:
print(company.items()) # find the items key

dict_items([('emp001', {'name': 'John', 'destination': 'Lko', 'salary': '30000'}), ('emp002', {'name': 'Daivik', 'destination': 'Mumbai', 'salary': '23000'}), ('toatl_emp', 2), ('department', 'Accounts'), ('vacany', ['clerk', 'manager', 'assistant I']), ('name', 'Acme inc'), ('total_emp', 3), ('emp003', {'name': 'Ajay verma', 'designation': 'clerk', 'salary': 45000})])

In [9]:
for i in company:
    print(company[i])

{'name': 'John', 'destination': 'Lko', 'salary': '30000'}
{'name': 'Daivik', 'destination': 'Mumbai', 'salary': '23000'}
2
Accounts
['clerk', 'manager', 'assistant I']
Acme inc
3
{'name': 'Ajay verma', 'designation': 'clerk', 'salary': 45000}

In [10]:
for k, v in company.items(): # to find the key and value
    print(k,v)

emp001 {'name': 'John', 'destination': 'Lko', 'salary': '30000'}
emp002 {'name': 'Daivik', 'destination': 'Mumbai', 'salary': '23000'}
toatl_emp 2
department Accounts
vacany ['clerk', 'manager', 'assistant I']
name Acme inc
total_emp 3
emp003 {'name': 'Ajay verma', 'designation': 'clerk', 'salary': 45000}

In [4]:
for k,v in company.items():
    if isinstance(v,dict):
        print(k)
        for key, value in v.items():
            print("--->",key,value)
    else:
            print(k,v)

emp001
---> name John
---> destination Lko
---> salary 30000
emp002
---> name Daivik
---> destination Mumbai
---> salary 23000
toatl_emp 2
department Accounts
vacany ['clerk', 'manager', 'assistant I']
total_emp 3
emp003
---> name Ajay verma
---> designation clerk
---> salary 45000

In [1]:
# wap to create a dict which take user input and price a items. 
dict = input('enter the user input')
grocery = {
    'ginger':[1],
    'chili':[2],
    'brinjal':[3],
    'mango':[4],
    'apple':[5],
}
print(grocery)

{'ginger': [1], 'chili': [2], 'brinjal': [3], 'mango': [4], 'apple': [5]}