# List in Python :-
- indexed, ordered, mutable, allows duplicate elements, hetrogeneous, '[]','list()' 

## Tuples
- indexed, ordered, **immutable**, allows duplicate elements, hetrogeneous '()','tuples()'
#### Dictionary
- **unordered**, mutable, **does not allows duplicate keys**, hetrogeneous, key : value pairs,'{}','dict()'

# List 
- creation
- indexing and slicing
- methods(11 methods)
- list comprihension

- Creation in List :--

In [2]:
x = [1,2,3,4,5]
names = ['david','john','ringo']
mix = [1,'john',3.13, True]
nested = [[1,2,3],[2,3,4],[6,7,8]]
mt = []
cloned = [1,2,3] * 5 # report list 5 times
words = 'this is sparte'.split()
chars = list('Alpha')

- Negative Slicing and Indexing :--

In [3]:
print(x[0])
print(x[-1])
x[0] = 100 # update value at index 0

1
5

In [4]:
chars[::5]

['A']

In [5]:
chars[::-1]

['a', 'h', 'p', 'l', 'A']

- Adding
    - append() - adds an element to the end of the list
    - extend() - adds all element of one list to another list
    - insert() - adds an element at a specific indexed
 - Removing
    - remove()
    - pop()
    - clear()
- Utility methods
    - count()
    - indexed()
    - sort()
    - reverse()
    - copy()

- append means that to add in the list

In [6]:
x.append(6)
x.append(2)
print(x)

[100, 2, 3, 4, 5, 6, 2]

In [7]:
a = [11,12,13]
x.extend(a)
print(x)

[100, 2, 3, 4, 5, 6, 2, 11, 12, 13]

In [9]:
x.insert(5,100)
x.insert(6,500)

print(x)

[100, 2, 3, 4, 5, 100, 500, 100, 500, 6, 2, 11, 12, 13]

In [4]:
userdata = [1,2,3,4,5]
userdata.remove(2)
print(userdata)

[1, 3, 4, 5]

In [5]:
if 'five' in userdata:
    userdata.remove('Five')
print(userdata)

[1, 3, 4, 5]

In [6]:
userdata.remove('nine') if 'nine' in userdata else print('nine not found')

nine not found

In [20]:
x = [1,2,3,4,5]
print(x.pop())
print(x.pop(2))

5
3

In [8]:
userdata.clear()
print(userdata)

[]

In [4]:
x = [1,2,3,4,5,6,7,8,9,10]
del x

In [11]:
a = [1,2,3,1,1,1,1,1]
print(a.count(1))

6

In [3]:
names =['Daivik','Sumit','Aakash','John','Boy','Canon']
names.sort()
print(names)

['Aakash', 'Boy', 'Canon', 'Daivik', 'John', 'Sumit']

In [16]:
c = [12,13,1,2,3,4,5]
c.append(23)
print(c)

[12, 13, 1, 2, 3, 4, 5, 23]

- Wap to create a fibonacci series of the 10 number and store it in list :--
- [0,1,1,2,3,5,8,13,21,34]

In [1]:
x = [0,1]
for i in range(10):
    x.append( x[-2] + x[-1] )
print(x)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

- Comprehension :--

In [10]:
x = [1,2,3,4,5]
x2 = []
for i in x:
    s = i ** 2
    x2.append(s)
print(x)
print(x2)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [1]:
f = [3,4,7,9,12,90,100]
h = []
for i in f:
    a = i **4
    h.append(a)
    print(f)
    print(h)

[3, 4, 7, 9, 12, 90, 100]
[81]
[3, 4, 7, 9, 12, 90, 100]
[81, 256]
[3, 4, 7, 9, 12, 90, 100]
[81, 256, 2401]
[3, 4, 7, 9, 12, 90, 100]
[81, 256, 2401, 6561]
[3, 4, 7, 9, 12, 90, 100]
[81, 256, 2401, 6561, 20736]
[3, 4, 7, 9, 12, 90, 100]
[81, 256, 2401, 6561, 20736, 65610000]
[3, 4, 7, 9, 12, 90, 100]
[81, 256, 2401, 6561, 20736, 65610000, 100000000]

In [12]:
a = [2,3,4,6,7,8,9,10]
c = []
for i in a:
    d = i **3
    c.append(d)
print(a)
print(c)

[2, 3, 4, 6, 7, 8, 9, 10]
[8, 27, 64, 216, 343, 512, 729, 1000]

In [15]:
j = [1,2,35,7,8,9,10]
k = []
for i in j:
    if k in j:
        l = i **3
        k.append(l)
    print(j)
    print(k)

[1, 2, 35, 7, 8, 9, 10]
[]
[1, 2, 35, 7, 8, 9, 10]
[]
[1, 2, 35, 7, 8, 9, 10]
[]
[1, 2, 35, 7, 8, 9, 10]
[]
[1, 2, 35, 7, 8, 9, 10]
[]
[1, 2, 35, 7, 8, 9, 10]
[]
[1, 2, 35, 7, 8, 9, 10]
[]

In [8]:
names = ['Peter Parker','Bruce lee','Clark']
fnames = []
for nm in names:
    fnames.append(nm.split()[0])
print(fnames)

['Peter', 'Bruce', 'Clark']

In [1]:
x = [1,2,3,4,5,6,7,8,9,10]
y = []
for i in x:
    if i % 2 == 0:
        y.append(i)

print(y)

[2, 4, 6, 8, 10]

newlist = [expression for item in iterable if condition == True]

In [36]:
x2 = [i ** 2 for i in x]
print(x2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
names = ['Peter Parker','Bruce lee','Clark']
lnames = [nm.split()[-1] for nm in names]
print(names)

['Peter Parker', 'Bruce lee', 'Clark']

In [38]:
x= [1,2,3,4,5,6,7,8,9,10]
xevens = [i for i in x if i % 2 == 0]
print(xevens)

[2, 4, 6, 8, 10]

In [8]:
x = [1,2,3,4,5,6,7,8,9,10]
y = []
for i in x:
    if i  % 3 == 0:
        y.append(i)
        print(y)

[3]
[3, 6]
[3, 6, 9]

In [9]:
a = [2,3,4,5,6,7,9,10,12,15]
b = []
for i in x:
    if i  % 5 == 0:
        b.append(i)
        print(b)

[5]
[5, 10]

In [1]:
# filter
x = ['1','2','','3','4','','5','','19','12']
x_clean = [int(i) for i in x if i.isnumeric()]
print(x_clean)

[1, 2, 3, 4, 5, 19, 12]

In [4]:
files = ['1.jpg','3.png','2.jpg','4.tif','5.jpg','10.png']
jpg_files = [file for file in files if file.endswith('.jpg')]
png_files  =  [file for file in files if file.endswith('.png')]
print(jpg_files)
print(png_files)

['1.jpg', '2.jpg', '5.jpg']
['3.png', '10.png']

In [4]:
jpg_files = []
for file in files:
    if file.endswith('jpg'):
        jpg_files.append(file)
        print(jpg_files)

['1.jpg']
['1.jpg', '2.jpg']
['1.jpg', '2.jpg', '3.jpg']
['1.jpg', '2.jpg', '3.jpg', '7.jpg']
['1.jpg', '2.jpg', '3.jpg', '7.jpg', '10.jpg']

In [6]:
y = [1,2,3,4,5,1,2,3,4,5,6,3,3,5,5,2,3,5,3,2,6,4,]
# take all odd number -> get there cube -> put in a list
x=[i**2 for i in y if i%2!=0]
print(x)

[1, 9, 25, 1, 9, 25, 9, 9, 25, 25, 9, 25, 9]