- Tuples and Sets :----

In [1]:
tp = (1,2,3,4,5)
print(tp,type(tp))

(1, 2, 3, 4, 5) <class 'tuple'>

In [6]:
y = 1,2,3,4,5 #tuple packing

In [4]:
1,2,3,4,5

(1, 2, 3, 4, 5)

In [7]:
z = (2,3,4)

In [8]:
a,b,c  =  z # tuple unpacking

In [9]:
y = z

In [10]:
y

(2, 3, 4)

In [16]:
x = (1,2,3,4,5,6,7,8,9,10)
y, *z = x # tuple unpacking
print(y, z)
a, b, c, *d = x
print(a,b,c,d)
a, *b, c, d = x
print(a, b, c, d)

1 [2, 3, 4, 5, 6, 7, 8, 9, 10]
1 2 3 [4, 5, 6, 7, 8, 9, 10]
1 [2, 3, 4, 5, 6, 7, 8] 9 10

In [17]:
x = (1,2,2,2,3,4,5,6,7,8)
print(x.count(2))
print(x.count(3))
print(x.index(2))

3
1
1

In [18]:
x1 = list(x) # tuple to list
xt = tuple(x1) # list to tuple
print(x1, xt)

[1, 2, 2, 2, 3, 4, 5, 6, 7, 8] (1, 2, 2, 2, 3, 4, 5, 6, 7, 8)

- Sets :--

In [19]:
a = {1,2,3,1,2,3}
print(a,type(a))

{1, 2, 3} <class 'set'>

In [12]:
a = {1,2,3,1,2,3}
a.add(10)
a.add(3)
a.add(6)
a.add(1)
print(a)

{1, 2, 3, 6, 10}

In [22]:
# Used for deleting :- The number
a.discard(2)
a.discard(3)
print(a)

{1, 6, 10}

In [23]:
x = {1,2,3,4,5}
y = {4,5,6,7,8}
z = {1,2,3}
a = {11,12,13}

In [24]:
a.union(x)

{1, 2, 3, 4, 5, 11, 12, 13}

In [25]:
y.union(x)

{1, 2, 3, 4, 5, 6, 7, 8}

In [26]:
x.union(y) # or x | y

{1, 2, 3, 4, 5, 6, 7, 8}

In [27]:
x | y

{1, 2, 3, 4, 5, 6, 7, 8}

In [28]:
x.intersection(y) # or x & y

{4, 5}

In [29]:
x.difference(y) # or x - y

{1, 2, 3}

In [31]:
y.difference(x) # y - x

{6, 7, 8}

In [33]:
# Without adding the common is called symmetric
x.symmetric_difference(y) # or x ^ y

{1, 2, 3, 6, 7, 8}

In [35]:
z.issubset(x) # or z <= x

True

In [36]:
x.issuperset(a) # or x >= z

False

In [37]:
x.isdisjoint(a)

True

In [4]:
# set , list ,tuple are interchange only change th data
# we also used the loop in iterable(immutable) like as set, list, tuple 
x = {1,2,3,4,5,6}
for i in range(1):
    print(x)

{1, 2, 3, 4, 5, 6}